@tailwind base;
@tailwind components;
@tailwind utilities;

.Nav {
  font-family: 'Monserrrat', sans-serif;
  justify-self: start;
  text-align: left;
  display: flex;
  padding-bottom: 10px;
}

.Logo {
  padding-left: 10px;
  padding-right: 10px;
}

.Table {
  text-align: center;
  border-collapse: separate;
  min-width: 40%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.Chart {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.ChartLabels {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.Row {
  margin: 0 auto;
  margin-top: 1vh;
  margin-bottom: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Button {
  margin-right: 5px;
  padding-left: 7px;
  padding-right: 7px;
}

.Table-elements 
{
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
.Footer {
  font-family: 'Monserrrat', sans-serif;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}